header {
  background-color: #005475;
}

.headerIcons .fa {
  padding-right: 20px;
  padding-top: 20px;
  font-size: 24px;
  float: right;
  text-decoration: none;
  color: white;
  }

.headerIcons .fa:hover { color: #6a7275; }

nav{
  font-family: "Helvetica Light", Arial, sans-serif;
  padding: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  text-align: left;
  text-decoration: none;
  color: white;
}

#about{
  font-family: "Helvetica Light", Arial, sans-serif;
  padding: 5px;
  padding-top: 40px;
  font-size: 24px;
  text-align: left;
  text-decoration: none;
  color: white;
}

#about:hover { color: #6a7275; }

#work {
  font-family: "Helvetica Light", Arial, sans-serif;
  padding: 5px;
  padding-top: 40px;
  padding-left: 40px;
  font-size: 24px;
  text-align: left;
  text-decoration: none;
  color: white;
}
#work:hover { color: #6a7275; }

#contact {
  font-family: "Helvetica Light", Arial, sans-serif;
  padding: 5px;
  padding-top: 40px;
  padding-left: 40px;
  font-size: 24px;
  text-align: left;
  text-decoration: none;
  color: white;
}
#contact:hover { color: #6a7275; }

body {
    background: white;
    border:2px solid #005475;
  }

#avatar{
  float:left; 
  height:40px;
  width:40px;
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 150px;
}

.mainText {
  font-family: "Helvetica Light", Arial, sans-serif; 
  font-size: 20px;
  font-weight: lighter;
  height:auto;
  padding-left:400px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  background-color:white;
}

footer {
  background-color: #005475;
}

.footerIcons .fa {
  padding-right: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
  float: right;
  text-decoration: none;
  color: white;
  }

.footerIcons .fa:hover { color: #6a7275; }

#footerText {
  font-family: "Helvetica Light", Arial, sans-serif;
  padding: 5px;
  padding-left: 20px;
  padding-top: 46px;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  color: white;
}
